@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#drawTool {
  position: absolute;
  float: right;
  top: 30px;
  right: 50px;
  font-family: "微软雅黑";
  /* 防止换行 */
  white-space: nowrap;
}

.centerItems {
  align-items: center;
}
